.th, tr, td {
    text-align: left;
}

.PLE__img--edit {
    width: 20px;
    height: 20px;
    vertical-align: top;
}

.PLE__edit {
    display: inline-block;
}

.PLE__img--delete {
    width: 14px;
    height: 14px;
    vertical-align: top;
    padding-top: 2px;
}
