.article-textbox {
	background-color: var(--palette-background-2);
	outline: none;
	border-width: 0 0 2px;
	border-color: var(--palette-element);
	margin: 0 9px 0 0;
	font-size: 60px;
}

.article-textbox:focus {
	outline: none;
}
