.start-game {
    max-width: 200px !important;
    margin: auto;
    text-align: center;
    display: block;
}

.lobby {
    width: 80%;
    margin: auto;
    text-align: center;
    background-color: var(--palette-background-2);
    border-radius: 10px;
    padding: 10px;
}

.playerlist {
    text-align: center;
    padding: 40px 0;
    display: inline-block;
}
