.start-game {
    height: 50px;
    text-align: center;
    flex: 1;
}

.room {
    width: 80%;
    margin: auto;
    background-color: var(--palette-background-2);
    border-radius: 10px;
    padding: 10px;
    height: 70vh;
    display: flex;
    flex-direction: column;
}

.playerlist {
    text-align: center;
    padding-top: 40px;
    flex: 9;
}

.level-dropdown {
    height: 50px;
    background-color: var(--palette-element);
    border-color: #decc35;
    margin-right: 10px;
    border-radius: 10px;
}
