.start-game {
    max-width: 200px !important;
    margin: auto;
    text-align: center;
}

.lobby {
    width: 80%;
    margin: auto;
    text-align: center;
    background-color: var(--palette-background-2);
    border-radius: 10px;
    padding: 10px;
}

.playerlist {
    height: 400px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: var(--palette-element);
}