.match {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	height: 70vh;
	width: 80%;
	margin: auto;
	background-color: var(--palette-background-2);
	border-radius: 10px;
	padding: 10px;
	overflow-wrap: break-word;
}

.word-span {
	font-size: 60px;
	overflow-wrap: break-word;
}

.game-ended {
	font-size: 45px;
}

