.main-container {
    margin: auto;
    max-width: 600px;
    background-color: var(--palette-background);
    text-align: center;
    max-height: 600px;
    height: 100vh;
}

.title {
    width: 80%;
}
