.main-container {
    margin: auto;
    max-width: 600px;
    background-color: var(--palette-background);
    text-align: center;
    max-height: 600px;
    height: 100vh;
}

.title {
	margin: auto;
	padding: 10px 0;
}

.title img {
	max-height: 20vh;
	max-width: 80%;
}

@media (max-width:641px)  { /* max portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
